<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Práctica MM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a></div>
        
        <form method="get" action="/search" class="form-busqueda">
            <div class="busqueda">
                <input type="text" name="busqueda" class="input-busqueda" placeholder="Buscar productos, marcas...">
                <div class="lupita"><button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button></div>
            </div>
        </form>
        <div class="slogan"><i class="fa fa-handshake-o"></i> Comprá en cuotas y sin tarjeta de crédito</div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav>
            <div>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a  href="/register">Creá tu cuenta <i class="fa fa-user-circle"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa fa-sign-in"></i></a></li>
                    <li>Mis compras <i class="fa fa-shopping-bag"></i></li>
                </ul>
            </div>
        </nav>
    </header>
    <div><img class="banner" src="/images/img-home-banner.jpg"></div>
    <main> 
        <section class="container-lista">
            <h2>Basado en tu última visita</h2>
            <div class="lista-productos">
                <article class="producto">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$6.770</div>
                            <div class="descuentos">40% OFF</div>
                        </div>
                        <div class="descripciones">Cafetera Moulinex</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$230.000</div>
                            <div class="descuentos">20% OFF</div>
                        </div>
                        <div class="descripciones">MacBook Pro 2019</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% OFF</div>
                        </div>
                        <div class="descripciones">Samsung Galaxy S10</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$23.200</div>
                            <div class="descuentos">5% OFF</div>
                        </div>
                        <div class="descripciones">SmartTv Samsung 43"</div>
                    </div>
                </article>
            </div>
        </section>
        <section class="container-lista">
            <h2>Sección de Ofertas</h2>
            <div class="lista-productos">
                <article class="producto">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios"><span>$6.770</span></div>
                            <div class="descuentos"><span>40% OFF</span></div>
                        </div>
                        <div class="descripciones">Cafetera Moulinex</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$230.000</div>
                            <div class="descuentos">20% OFF</div>
                        </div>
                        <div class="descripciones">MacBook Pro 2019</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% OFF</div>
                        </div>
                        <div class="descripciones">Samsung Galaxy S10</div>
                    </div>
                </article>
                <article class="producto">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg">
                    <div class="info-producto">
                        <div class="camionsito"><i class="fa fa-truck"></i></div>
                        <div class="montos">
                            <div class="precios">$23.200</div>
                            <div class="descuentos">5% OFF</div>
                        </div>
                        <div class="descripciones">SmartTv Samsung 43"</div>
                    </div>  
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <div>
                    <i class="fa fa-credit-card iconos-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                </div>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
            </article>
            <article>
                <div>
                    <i class="fa fa-gift iconos-footer"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                </div>
                <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
            </article>
            <article>
                <div>
                    <i class="fa fa-shield iconos-footer"></i>
                    <h4>Seguridad, de principio a fin</h4>
                </div>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
            </article>
        </section>
        <section>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>